src/soap_server/ss_2b_service.wsdl

<definitions name = "ss_2b"
   targetNamespace = "http://www.examples.com/wsdl/MyService.wsdl"
   xmlns = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns = "http://www.examples.com/wsdl/MyService.wsdl"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema">


   <!-- Get ALl Tags -->
   <message name = "getAllTagsRequest">
   </message>

   <message name = "getAllTagsResponse">
      <xsd:element name="images" maxOccurs="unbounded"/> 
   </message>
   

   <!-- Get Images by tag-->
   <message name = "getImagesByTagRequest">
      <part name = "idTag" type = "xsd:string"/>
   </message>

   <message name = "getImagesByTagResponse">
      <xsd:element name="images" maxOccurs="unbounded"/> 
   </message>



   <portType name = "funtions">
      <operation name = "getAllTags">
         <input message = "tns:getAllTagsRequest"/>
         <output message = "tns:getAllTagsResponse"/>
      </operation>

      <operation name = "getImagesByTag">
         <input message = "tns:getImagesByTagRequest"/>
         <output message = "tns:getImagesByTagResponse"/>
      </operation>
   </portType>


   
   
  

   

   <binding name = "ss_2b_Binding" type = "tns:funtions">
      <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>

      <operation name = "getAllTags">
         <soap:operation soapAction = "getAllTags"/>

         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:ss_2b" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:ss_2b" use = "encoded"/>
         </output>
      </operation>

      <operation name = "getImagesByTag">
         <soap:operation soapAction = "getImagesByTag"/>

         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:ss_2b" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:ss_2b" use = "encoded"/>
         </output>
      </operation>
      
   </binding>

   <service name = "ss_2b">
      <documentation>WSDL File for MyService</documentation>
      <port binding = "tns:ss_2b_Binding" name = "funtions">
         <soap:address location = "http://localhost:6060/ss_2b" />
      </port>
   </service>

</definitions>